#relogio{
    font-family: "orbitron";
    font-size: xx-large;
    text-align: center;
}
 #cronometro{
    font-family: "orbitron";
    font-size: xx-large;
    text-align: center;
    color: blueviolet;
    
}
 